# Input output

In [ ]:
print("Ciao mondo")

In [2]:
print(5)

5

In [4]:
print(0.5)

0.5

In [3]:
print(False)

False

In [5]:
print(5+3)

8

In [ ]:
print(5-2)

In [ ]:
print(5/2)

In [ ]:
print(5*2)

In [6]:
print(5**2)

25

In [ ]:
print(5%2)

In [10]:
name = input("Come ti chiami? ")

Come ti chiami? Lorenzo

In [11]:
print("Ciao",name,"piacere di conoscerti")

Ciao Lorenzo piacere di conoscerti

# Tipi di dati

In [ ]:
var_int = 5

In [ ]:
var_float = 0.5

In [6]:
var_str = "zero virgola cinque"

In [1]:
a = 1 
b = "2"
a + b

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
a = 1 
b = 2

a + b

In [ ]:
a-b

In [ ]:
a*b

In [ ]:
a/b

In [ ]:
a**b

In [ ]:
a%b

In [ ]:
type(a)

In [9]:
type(var_str)

str

In [4]:
from sys import getsizeof
getsizeof(a)

28

In [7]:
getsizeof(var_str)

60

In [11]:
len(var_str)+49

67

# Casting

In [12]:
var_int = 1

var_float = float(var_int)

print(var_float, type(var_float))

1.0 <class 'float'>

In [13]:
var_float = 1.8
var_int = int(var_float)
print(var_int, type(var_int))

1 <class 'int'>

In [14]:
var_int = 5
var_str = str(var_int)
print(var_str, type(var_str) )

5 <class 'str'>

In [15]:
var_str = "5"
var_int = str(var_str)
print(var_int, type(var_int) )

5 <class 'str'>

In [16]:
var_str = "cinque"
var_int = str(var_str)
print(var_int, type(var_int) )

cinque <class 'str'>

# La formattazione

In [18]:
age = 25
print("Hai "+str(age)+" anni")

Hai 25 anni

In [19]:
print("Hai %d anni" % age)

Hai 25 anni

- %d: numero intero
- %f: numero con la virgola
- %s: stringa

In [24]:
my_name = input("Come ti chiami?")
my_age = input("Quanti anni hai?")
my_age = int(my_age)
my_born = 2025 - my_age

Come ti chiami?lo
Quanti anni hai?26

In [25]:
print("Il tuo nome e' %s, hai %d anni, quindi sei nato nel %d" %(my_name,my_age,my_born))

Il tuo nome e' lo, hai 26 anni, quindi sei nato nel 1999

In [26]:
my_height = float(input("Inserisci la tua altezza in metri: "))
my_weight = float(input("Inserisci il tuo peso in kg: "))

Inserisci la tua altezza in metri: 1.78
Inserisci il tuo peso in kg: 80

In [2]:
print("Altezza=%.2f Peso=%.1f" %(my_height, my_weight))  #it does the round of the number

NameError: name 'my_height' is not defined

In [31]:
print("Il tuo nome e' {name}, hai {age} anni, quindi sei nato nel {born}"
     .format(name=my_name, age=my_age, born=my_born))

Il tuo nome e' lo, hai 26 anni, quindi sei nato nel 1999

In [34]:
print("Altezza={height:.1f} Peso={weight:.0f}"
      .format(height=my_height, weight=my_weight))  #it does the round of the number

Altezza=1.8 Peso=80

In [36]:
print(f"Il tuo nome e' {my_name}, hai {my_age} anni, quindi sei nato nel {my_born}")

Il tuo nome e' lo, hai 26 anni, quindi sei nato nel 1999

In [38]:
print(f"Altezza={my_height:.1f} Peso={my_weight:.0f}")

Altezza=1.8 Peso=80

# Esercizi con le Variabili

1 Operazioni Aritmetiche [Esercizio su HackerRank]

    Inserisci due interi come input e stampa:

    1. La somma dei due numeri.
    2. La differenza tra i due numeri (primo - secondo).
    3. Il prodotto tra i due numeri.

In [1]:
a = int(input())
b = int(input())

print(a+b)
print(a-b)
print(a*b)

2
4
6
-2
8


2. Divisioni [Esercizio su HackerRank]

Leggi due interi come input e stampa:

    1. il risultato della divisione tra a e b come un numero intero
    2. il risultato della divisione tra a e b come un numero con la virgola

In [3]:
a = int(input())
b = int(input())

print(a//b)
print(a/b)

1
4
0
0.25

3. Potenze e Modulo

Leggi un float e un intero come input e stampa:

    1. Il primo numero elevato al secondo.
    2. Il modulo del primo numero per il secondo.

All'interno del print inserisci anche l'operazione che stai eseguendo

esempio di output
3**2=9
3%1=1

In [4]:
a = int(input())
b = int(input())

print(a**b)
print(a%b)

4
6
4096
4

4 Swapping
Lo swapping consiste nell'invertire il valore di due variabili.

    1. Prendi in input due valori e assegnali a due variabili A e B.
    2. Stampa le variabili su schermo.
    3. Assegna il valore di A a B e il valore di B ad A.
    4. Stampa le variabili su schermo.

In [5]:
a = int(input())
b = int(input())

c = b
b = a
a = c

print(f"A={a}, B={b}")

7
8
A=8, B=7


BONUS

In python possiamo eseguire lo swapping senza aver bisogno di una terza variabile temporanea.

In [6]:
a = int(input())
b = int(input())

a, b = b, a

print(f"A={a}, B={b}")

4
6
A=6, B=4

5. Casting e Formattazione

Scriviamo un programma che richieda i tuoi dati e li stampi su schermo, i dati che il programma deve richiedere sono:

    1. Nome e Cognome
    2. Anno di nascita
    3. Luogo di Nascita
    4. Altezza (in metri)
    5. Peso (in kilogrammi)

Infine il programma dovrà stampare tutte queste informazione, con altezza e peso arrotondate a 2 cifre dopo la virgola, insieme all'età della persona. 

ESEMPIO DI INPUT

    Nome: Giuseppe Gullo
    Anno di nascita: 1938
    Luogi di nascita: Taormina
    Altezza (m): 1.75
    Peso (kg): 71.5

ESEMPIO DI OUTPUT
"Giuseppe Gullo, 81 anni, nato a Taormina nel 1938, altezza: 1.75 m, peso: 71.50 kg"

SUGGERIMENTI

 1. La funzione input ritorna sempre una stringa, quindi se vogliamo dei numeri dobbiamo eseguire il casting.
   2. Possiamo arrotondare una cifra usando l'operatore di formattazione %.Nf, dove al posto di N dobbiamo inserire il numero di cifre dopo la virgola.
   3. Se invece utilizzi il metodo format, puoi arrotondare una cifra usando come placeholder {my_var:.{digits}f} dove my_var è il placeholder della tua variabile e digits è il placeholder per il numero di cifre dopo la virgola.

In [7]:
CURRENT_YEAR = 2019

name = input("Nome: ")
year = int(input("Anno di nascita: "))
place = input("Luogo di nascita: ")
height = float(input("Altezza (m): "))
weight = float(input("Peso (kg): "))

age = CURRENT_YEAR - year

# soluzione 1
print("%s, %d anni, nato a %s nel %d, altezza: %.2f m, peso: %.2f kg" % (name, age, place, year, height, weight))

# soluzione 2
print("{my_name}, {my_age} anni, nato a {my_place} nel {my_year}, altezza: {my_height:.{height_digits}f} m, peso: {my_weight:.{weight_digits}f} kg".format(my_name=name, my_age=age, my_place=place, my_year=year, my_height=height, height_digits=2, my_weight=weight, weight_digits=2))

# soluzione 3
digits = 2
print(f"{name}, {age} anni, nato a {place} nel {year}, altezza: {height:.{digits}f} m, peso: {weight:.{digits}f} kg")

Nome: lorenzo
Anno di nascita: 1999
Luogo di nascita: bolo
Altezza (m): 180
Peso (kg): 75
lorenzo, 20 anni, nato a bolo nel 1999, altezza: 180.00 m, peso: 75.00 kg
lorenzo, 20 anni, nato a bolo nel 1999, altezza: 180.00 m, peso: 75.00 kg
lorenzo, 20 anni, nato a bolo nel 1999, altezza: 180.00 m, peso: 75.00 kg

# Le Liste

In [10]:
l = [1, 2, 3, 5, 8, 13, 21 ]
print(type(l))

<class 'list'>

In [11]:
l

[1, 2, 3, 5, 8, 13, 21]

In [ ]:
word_list = ["cane", "gatto", "topo"]
word_list

In [12]:
weird_list = [0, "patate", True]
weird_list

[0, 'patate', True]

### Indexing

In [14]:
l = [1, 2, 3, 5, 8, 13, 21 ]

In [15]:
l[0]

1

In [16]:
l[1]

2

In [17]:
l[4]

8

In [18]:
l[-1] # ultimo elemento

21

In [19]:
l[-3]

8

In [22]:
type(l[-3])

int

### Slicing

In [20]:
l[4:6]

[8, 13]

In [21]:
l

[1, 2, 3, 5, 8, 13, 21]

In [23]:
type(l[4:6])

list

In [24]:
l[:3]

[1, 2, 3]

In [25]:
l[3:]

[5, 8, 13, 21]

In [26]:
l[:]

[1, 2, 3, 5, 8, 13, 21]

In [27]:
l[-2:] # accedo da fine lista

[13, 21]

In [28]:
l[::1]

[1, 2, 3, 5, 8, 13, 21]

In [29]:
l[::-1]  # Invertire valori lista

[21, 13, 8, 5, 3, 2, 1]

In [30]:
l[:3:-1]

[21, 13, 8]

# Modifica e verifica

In [31]:
l = [1, 2, 3, 5, 8, 13, 21 ]

In [32]:
l[4] = 10

In [33]:
l

[1, 2, 3, 5, 10, 13, 21]

In [34]:
l[:2] = [90,100]

In [35]:
l

[90, 100, 3, 5, 10, 13, 21]

In [47]:
subjects = ["storia", "geografia", "matematica"]

In [48]:
subjects.append("fisica")

subjects

['storia', 'geografia', 'matematica', 'fisica']

In [49]:
subjects.insert(2, "biologia")
subjects

['storia', 'geografia', 'biologia', 'matematica', 'fisica']

In [50]:
subjects.remove("geografia")
subjects

['storia', 'biologia', 'matematica', 'fisica']

In [51]:
subject = subjects.pop(0)
print(subject, subjects)

storia ['biologia', 'matematica', 'fisica']

### Verifica se elemento presente

In [52]:
"matematica" in subjects

True

In [53]:
"filosofia" in subjects

False

In [54]:
subjects.append("biologia")

In [55]:
subjects.index("biologia")

0

In [56]:
subjects.count("biologia")

2

In [57]:
subjects.count("filosofia")

0

### Liste annidate

Un collezione può contenere anche un'altra collezione, sia dello stesso tipo che di altri tipi.

In [58]:
subjects_week = [
                 ["Italiano", "Storia", "Matematica", "Matematica", "Geografia", "Filosofia"], # orario di lunedì
                 ["Latino", "Latino", "Matematica", "Italiano", "Italiano", "Educazione Fisica"], # orario di marted'
                 ["Italiano", "Inglese", "Matematica", "Filosofia", "Filosofia", "Latino"], # orario di mercoledì
                 ["Filosofia", "Italiano", "Matematica", "Matematica", "Inglese", "Chimica"], # orario di giovedì
                 ["Educazione Fisica", "Filosofia", "Latino", "Latino", "Storia", "Italiano"] # orario di venerdì
                ] # sabato vacanza 

print(subjects_week)

[['Italiano', 'Storia', 'Matematica', 'Matematica', 'Geografia', 'Filosofia'], ['Latino', 'Latino', 'Matematica', 'Italiano', 'Italiano', 'Educazione Fisica'], ['Italiano', 'Inglese', 'Matematica', 'Filosofia', 'Filosofia', 'Latino'], ['Filosofia', 'Italiano', 'Matematica', 'Matematica', 'Inglese', 'Chimica'], ['Educazione Fisica', 'Filosofia', 'Latino', 'Latino', 'Storia', 'Italiano']]

In [59]:


subjects_week[2]

['Italiano', 'Inglese', 'Matematica', 'Filosofia', 'Filosofia', 'Latino']

In [60]:


subjects_week[2][3]

'Filosofia'

# Le Tuple

La tupla è un tipo di dati molto simile alla lista, la differenza principale è che una tupla una volta creata non può essere modificata, inoltre, a differenza delle liste, la tupla è idonea a contenere diversi tipi di dati. Possiamo creare una tupla inserendo gli elementi tra parentesi tonde e separandoli con una virgola.

In [61]:
t = (1, 2 ,3 ,5 ,8 ,13 ,21)
print(t, type(t))

(1, 2, 3, 5, 8, 13, 21) <class 'tuple'>

In [62]:
t[2]

3

In [63]:
t[:3]

(1, 2, 3)

In [64]:
t[3] = 10

TypeError: 'tuple' object does not support item assignment

In [65]:
t[:3] = (2,6,10)

TypeError: 'tuple' object does not support item assignment

In [67]:
t = ("Lorenzo" , 30 , True)
t

('Lorenzo', 30, True)

In [70]:
subjects_vote = (("italiano", 7), ("greco", 4), ("matematica", 10))
print(subjects_vote)

(('italiano', 7), ('greco', 4), ('matematica', 10))

In [72]:
subjects_vote[0][1]

7

In [73]:
subjects_vote = [("italiano", 7), ("greco", 4), ("matematica", 10)]  #Lista di Tuple

print(subjects_vote)

[('italiano', 7), ('greco', 4), ('matematica', 10)]

In [74]:
subjects_vote[0][1]

7

In [75]:
subjects_vote.append(("inglese", 6))

In [76]:
subjects_vote

[('italiano', 7), ('greco', 4), ('matematica', 10), ('inglese', 6)]

In [78]:
t = (1, 2 ,3 ,5 ,8 ,13 ,21)
t.append(34)

AttributeError: 'tuple' object has no attribute 'append'

In [79]:
t.count(5)

1

In [81]:
t.index(5)

3

In [82]:
5 in t

True

In [83]:
10 in t

False

In [87]:
s = "Ciao mondo"  # Le stringhe sono immutabili come le tuple
s

'Ciao mondo'

In [85]:
s[0]

'C'

In [86]:
s[0] = "M"

TypeError: 'str' object does not support item assignment

# Set

In [88]:
s = {30, 15, 20, 30, 5, 90, 15}
type(s)

set

In [89]:
s

{5, 15, 20, 30, 90}

In [91]:
subjects_set = {"italiano", "storia", "matematica", "matematica", "geografia", "filosofia"}

subjects_set

{'filosofia', 'geografia', 'italiano', 'matematica', 'storia'}

In [93]:
subjects_set[0]

TypeError: 'set' object is not subscriptable

In [96]:
subject = subjects_set.pop()
print(subject, subjects_set)

storia {'matematica', 'filosofia'}

In [97]:
subjects_set.add("chimica")
subjects_set

{'chimica', 'filosofia', 'matematica'}

In [98]:
subjects_set.add("storia")

In [99]:
subjects_set.remove("geografia")

KeyError: 'geografia'

In [101]:
subjects_set.discard("arte")

In [103]:
subjects_set.clear()
subjects_set = {}

In [104]:
subjects_frozen = frozenset({"italiano" , "matematica", "inglese"})
print(type(subjects_frozen),subjects_frozen)

<class 'frozenset'> frozenset({'italiano', 'matematica', 'inglese'})

In [105]:
subjects_frozen.add("storia")

AttributeError: 'frozenset' object has no attribute 'add'

# I Dizionari

In [2]:
report = {"italiano":7, "latino":6, "filosofia":4, "matematica":9}
type(report)

dict

In [4]:
report["latino"]

6

In [3]:
report["filosofia"]

4

In [5]:
report["latino"] = 5

In [6]:
report

{'italiano': 7, 'latino': 5, 'filosofia': 4, 'matematica': 9}

In [8]:
report["storia"] = 6

In [9]:
report["inglese"] = {"grammatica":7,"letteratura":6}

In [10]:
report

{'italiano': 7,
 'latino': 5,
 'filosofia': 4,
 'matematica': 9,
 'storia': 6,
 'inglese': {'grammatica': 7, 'letteratura': 6}}

In [11]:
report.values()

dict_values([7, 5, 4, 9, 6, {'grammatica': 7, 'letteratura': 6}])

In [12]:
list(report.values())

[7, 5, 4, 9, 6, {'grammatica': 7, 'letteratura': 6}]

In [13]:
report.keys()

dict_keys(['italiano', 'latino', 'filosofia', 'matematica', 'storia', 'inglese'])

In [14]:
list(report.keys())

['italiano', 'latino', 'filosofia', 'matematica', 'storia', 'inglese']

# Lunghezza di una collezione

In [15]:
l = [1,2,3,4,5]
l

[1, 2, 3, 4, 5]

In [17]:
l_len = len(l)
l_len

5

In [18]:
t = ("Lorenzo", 1.78, 73)
t

('Lorenzo', 1.78, 73)

In [20]:
len(t)

3

In [21]:
s = {"Giuseppe", "Lorenzo", "Andrea", "Luca"}
len(s)

4

In [22]:
d = {"pasta":1, "uova":5, "panna":1}
len(d)

3

In [23]:
d["cereali"] = 2
d

{'pasta': 1, 'uova': 5, 'panna': 1, 'cereali': 2}

In [24]:
l = [1,2,3,4,5]
l[5] = 6 #genera un errore si deve usare append

IndexError: list assignment index out of range

# Casting tra collezioni

In [25]:
names_list = ["Giuseppe", "Carlo", "Nicola", "Giuseppe", "Carlo", "Antonio"]

In [26]:
print(names_list)

['Giuseppe', 'Carlo', 'Nicola', 'Giuseppe', 'Carlo', 'Antonio']

In [27]:
names_tuple = tuple(names_list)

In [28]:
names_tuple[0] = "Federico"

TypeError: 'tuple' object does not support item assignment

In [29]:
names_set = set(names_tuple)
names_set

{'Antonio', 'Carlo', 'Giuseppe', 'Nicola'}

In [32]:
names_age = (("Giuseppe",30),("Antonio",27),("Nicola",24))

In [33]:
people_dict = dict(names_age)
people_dict

{'Giuseppe': 30, 'Antonio': 27, 'Nicola': 24}

In [37]:
names = ["Giuseppe", "Antonio", "Nicola"]
ages = [30, 27, 24]
names_age = zip(names, ages)
people_dict = dict(names_age)
people_dict

{'Giuseppe': 30, 'Antonio': 27, 'Nicola': 24}

In [36]:
tuple(names_age)

(('Giuseppe', 30), ('Antonio', 27), ('Nicola', 24))

# Copia vs Riferimento

In [39]:
l1 = ["cane", "gatto", "topo"]
l2 = l1   # riferimento
l2[1] = "tigre"
l2

['cane', 'tigre', 'topo']

In [40]:
l1

['cane', 'tigre', 'topo']

In [46]:
id(l1) == id(l2)

False

In [43]:
l1 = ["cane", "gatto", "topo"]
l2 = ["cane", "gatto", "topo"]
l2[1] = "tigre"
l2

['cane', 'tigre', 'topo']

In [45]:
l1 = ["cane", "gatto", "topo"]
l2 = l1.copy()   # shallow copy
l2[1] = "tigre"
l2

['cane', 'tigre', 'topo']